html,body {
    height: 100%;
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-ws {
    width: 10vw;
}

.img-ws-small {
    width: 5vw;
}

.weather-minmax-today {
    justify-content: flex-end;
}

@media screen and (max-width:768px) {
    .img-ws {
        width: 15vw;
    }
    .img-ws-small {
        width: 10vw;
    }
    #fiveDaysWeather p {
        font-size: 24px;
    }
    .card h6 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width:425px) {
    .img-ws {
        width: 20vw;
    }
    .img-ws-small {
        width: 15vw;
    }
    .weather-states-name {
        font-size: 32px;
    }
    .weather-minmax-today {
        justify-content: center;
        padding-top: 1em;
    }
}